.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto;
}

.login-form div {
    margin-bottom: 1rem;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.login-form input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.158);
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.11);
}

.login-form button {
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 25%;
}

.login-form button:hover {
    background-color: #0056b3;
}

.container {
    background-color: rgba(255, 255, 255, 0.26);
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    margin: auto;
    margin-top: 5%;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.11);

}